body
{
    margin:0;
    font-family:Poppins;
    background:#f6f6f4;
    
}
.container
{
    width:90%;
    max-width:1100px;
    margin:auto;
}
/* Header */
header
{
    background:white;
    padding:20px 0;
}

.header-flex
{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
h1
{
    font-family:Playfair Display;
    margin:0;
}

.tagline
{
    font-size:12px;
    color:gray;
}

nav a
{
    margin-left:20px;
    text-decoration:none;
    color:black;
}
/* Sticky icon */
.sticky-icon {
    
  position: sticky;
  display:flex;

  font-size: 40px;

  gap: 100px;
  
  float: right;
  margin-right: 10px;
  font-size: 25px;
  color: rgb(10, 10, 10);
}

/* Hero */
.hero
{
    height:350px;
    background:url("https://i.pinimg.com/736x/b1/fb/86/b1fb8645b1c5b657ae4684d49a3a8ccf.jpg") center/cover;
    display:flex;
    justify-content:center;
    align-items:center;
}


.hero-box
{
    background:rgba(255,255,255,0.9);
    padding:30px;
    text-align:center;
}


button
{
    padding:10px 20px;
    border:none;
    background:#8c9b7b;
    color:white;
    cursor:pointer;
}
/* Categories */
.categories
{
    display:flex;
    gap:20px;
    margin:40px auto;
}



.cat
{
    flex:1;
    background:#9aa48a;
    color:white;
    text-align:center;
    padding:40px;
    font-family:Playfair Display;
    font-size:20px;
}


/* Subscribe */
.subscribe
{
    background:#e2c7a6;
    text-align:center;
    padding:40px;
}

.form
{
    margin-top:20px;
}

.form input
{
    padding:10px;
    margin:5px;
    width:200px;
}

/* Post */
.post-containers{
    background-color: grey;

}
.post {
    display: flex;              /* Makes items side by side */
    align-items: center;
       /* Vertical center */
     
     margin:40px auto;  
     margin-left: 150px;              /* Space between image & text */
}





.post-text1 {
    max-width: 600px;
    background-color:rgb(255, 192, 228);
    padding:30px;
    position: relative;
    right:60px;
}



.post-text2 {
    max-width: 700px;
    background-color:rgb(255, 192, 228);
    padding:25px;

}
.post img {
    width: 350px;
    height:350px;
}


.post-text3{
  max-width: 600px;
    background-color:rgb(255, 192, 228);
    padding:30px;
    position: relative;
    height:auto;
}



/* Popular */
.popular
{
    background:#8c9b7b;
    padding:40px;
    color:white;
    text-align:center;
}

.popular-grid
{
    display:flex;
    gap:20px;
    margin-top:20px;
}

.popular-card
{
    background:white;
    color:black;
    padding:10px;
}

/* Footer */
footer
{
    background:#e2c7a6;
    text-align:center;
    padding:40px;
}









