*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    cursor:pointer;
    font-family:sans-serif;

}
body{
    width: 100%;
     min-height:100px;
    background: black;
    overflow: hidden;
}

header{
    display:flex;
    justify-content:space-between;
    padding: 15px 20px;
    color: white;
}
nav li{
    display: inline-block;
    padding:10px 20px;
    
}
.main{
    width:100%;
    display: flex;
}
.content{
    width: 50%;
    margin-top:8%;
    margin-left: 5%;
    color: white;
    overflow: hidden;
}

.content h1{
    font-size:80px;
    margin-bottom: 1%;
    letter-spacing: 8px;
}
.content h3{
    font-size:25px;
    margin-bottom:3%;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
span{
    color: yellow;
}
.content p{
    font-size:20px;
    margin-bottom:3%;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
button{
    padding:15px 30px;
    background:transparent;
    color:white;
    font-size:17px;
    border-radius:10px;
}

button:hover{
    background-color:red ;
}
.image{
    width:50%;
    margin-top:8%;
      
}
img{
    width: 40rem;
}
@media screen and(max-width:1200px){
    
}